@using Identity.Models.Account
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login</h2>

                <form asp-action="Login" method="post" asp-route-returnUrl="@ViewData["returnUrl"]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input type="email" asp-for="Email" class="form-control form-control-lg">
                        <label class="form-label" asp-for="Email">Your Email</label>
                    </div>

                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input type="password" asp-for="Password" class="form-control form-control-lg">
                        <label class="form-label" asp-for="Password">Password</label>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" asp-for="RememberMe">
                        <label class="form-check-label" for="form2Example3g">
                            Remember Me
                        </label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-success btn-block btn-md gradient-custom-4 text-body">Login</button>

                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Register? <a asp-action="Register" class="fw-bold text-body"><u>Register now</u></a></p>
                    <p class="text-center text-muted mt-5 mb-0">Forgot Password? <a asp-action="ForgotPassword" class="fw-bold text-body"><u>Reset password</u></a></p>
                    <p class="text-center text-muted mt-5 mb-0">Login With Phone Number<a asp-action="LoginWithPhoneNumber" class="fw-bold text-body"><u>LoginWithPhoneNumber</u></a></p>

                </form>
                @if (Model.ExternalLogin.Any())
                {
                    <div class="d-flex justify-content-center">
                        <form asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                            @foreach (var item in Model.ExternalLogin)
                            {
                                <button type="submit" data-mdb-button-init="" value="@item.Name" title="Login With Google" name="provider"
                                        data-mdb-ripple-init="" class="btn btn-primary btn-block btn-md gradient-custom-4 text-body">
                                    @item.DisplayName
                                </button>

                            }

                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

