@using Identity.Core.Application.DTOs.Account
@model LoginWithPhoneNumberDto
@{
    ViewData["Title"] = "Login WithPhone Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login with phone nubmber</h2>
                @if (ViewData["TotpMessages"] != null)
                {
                    <p class="text-info">@ViewData["TotpMessages"]</p>
                }
                <form asp-action="LoginWithPhoneNumber" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div data-mdb-input-init="" class="form-outline mb-4">
                        <input asp-for="PhoneNumber" class="form-control form-control-lg">
                        <label class="form-label" asp-for="PhoneNumber">Your Phone Number</label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-success btn-block btn-md gradient-custom-4 text-body">Send code</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
